/******************

  COMPONENTS & LAYOUT
  ------------------
    Here positining contexts are set on the primary content wrappers/containers, both for the css property [ position: [value] ] as for lay out purposes.

    The primary containers (direct children of the body element)
    @.site
    @h1.student-name
    @.main-nav
    @.main-content
    @.main-footer

******************/

/***** Primary Content Wrappers *****/

.site,
.site-header,
.main-nav,
.profile-banner,
.main-content,
.latest-work--list,
.contact > span,
.main-footer {
  display: -webkit-flex;
  -webkit-flex-wrap: no-wrap;

  display: flex;
}

.site,
.site-header,
.main-nav,
.main-content {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.site {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #FAFAFA;
}

.main-content {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  /*padding: 0 1em;*/
}

button,
.button {
  display: block;
  appearance: none;
  font-size: 1em;
  font-weight: 700;
  padding: 0.75em;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.24);
  transition: border-border-color .5s, color 0.5s ease-in;
}

button:hover,
.button:hover {
  color: rgba(0,0,0,0.54);
  border-color: rgba(0,0,0,0.87);
  transition: border-color 0.5s ease-in;
}


/***** Site header *****/
/*.site-header {
  position: absolute;
}*/
.student-name {
  text-align: center;
}

/***** Main navigation *****/
.main-nav {
  width: 100%;
  padding: 1em;
}

.main-nav--item {
  font-size: 1.125em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  padding: 0.625em 0;
  margin-bottom: 0.5em;
}

/***** Profile Banner *****/
.profile-banner {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 100%;
  padding: 2em 1em;
  /*margin-bottom: 2em;*/
}

.image-container {
  width: 100%;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.24);
  margin-bottom: 1em;
}

.profile-image {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.profile-info,
.contact-info {
  font-size: 1.125em;
  line-height: 1.7;
  text-align: center;
}

/***** Latest Work *****/
.latest-work {
  width: 100%;
  background-color: #fff;
}

.latest-work--list {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0 1em;
}

/*.latest-work--item {
  padding: 0 1em;
}*/

.portfolio-item {
  width: 100%;
  margin-bottom: 4em;
}

.portfolio-image {
  width: 100%;
}

.portfolio-caption {
  padding: 0.625em 0.625em 0 0.625em;
}

.portfolio-caption > .title {
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.portfolio-caption > .description {
  font-size: 1em;
  text-align: center;
}

/***** Contact Section *****/
.contact {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em 3em 1em;
}

.contact > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-size: 1.125em;
  color: rgba(0,0,0,0.87);
  text-align: center;
  margin-bottom: 0.875em;
}

.contact > .button {
  margin: 1.75em auto;
}

.contact-link,
.contact-link:link,
.contact-link:visited,
.back-to-top,
.back-to-top:link,
.back-to-top:visited {
  display: inline-block;
  font-weight: 600;
  transition: color 0.4s;
  margin-left: 1.25em;
}

.contact > span:hover .contact-link,
.contact > span:hover .material-icons,
.back-to-top:hover {
  color: rgba(0,0,0,0.54);
  transition: color 0.3s;
}

/***** Main Footer *****/
.main-footer {
  -webkit-justify-content: space-between;
  -webkit-align-items: center;

  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2em);
  max-width: 1024px;
  margin: 0 auto;
  padding: 2em 0;
  border-top: 1px solid rgba(0,0,0,0.24);
}

.main-footer--content {
  width: 100%;

}

.student-name--footer,
.back-to-top {
  font-size: 1em;
}

.student-name--footer {
  margin: 0;
}

.back-to-top {
  text-transform: uppercase;
}

.footer-nav {
  display: none;
}

/******************

  MEDIA QUERIES
  ---
  Break points:
  320px
  768px
  1024px

******************/

/* Tablet */
@media screen and (min-width: 48em) {
  .site-header,
  .profile-banner,
  .main-content > section,
  .main-footer > section {
    padding-left: 2em;
    padding-right: 2em;
  }

  .profile-info {
    margin-top: 0;
  }


  /***** Site Header *****/
  .site-header {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .student-name {
    margin: 0;
  }

  .main-nav {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;

    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }

  .main-nav--item {
    background-color: transparent;
    margin-bottom: 0;
  }

  /***** Profile Banner *****/
  .profile-banner {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;

    flex-direction: row;
    padding-top: 0;
  }

  .profile-info,
  .image-container {
    width: 48%;
  }

  .profile-info {
    text-align: left;
  }

  .profile-image {
    width: 50%;
  }

  /***** Latest Work *****/
  .latest-work--list {
    -webkit-flex-direction: row;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .latest-work--item {
    flex: 0 1 48%;
  }

  /***** Main Footer *****/
  .main-footer {
    padding-bottom: 4em;
  }

  .main-footer > .back-to-top {
    display: none;
  }

  .footer-nav {
    display: flex;
    align-items: center;
  }

  .footer-nav--item {
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 2em;
  }
}



/* Desktop */
@media screen and (min-width: 64em) {
  .site {
    align-items: center;
  }

  .site-header,
  .profile-banner {
    padding-left: 0;
    padding-right: 0;
  }

  .site-header,
  .profile-banner,
  .main-content > section,
  .main-footer > section {
    width: 1024px;
    margin: 0 auto;
  }

  /***** Site Header *****/
  .site-header {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 2.5em;
  }

  .student-name,
  .main-nav--item {
    line-height: 1;
  }

  .main-nav {
    -webkit-flex: 1;
    -webkit-justify-content: space-between;

    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  .main-nav--item {
    padding: 0;
    margin-bottom: 0;
    margin-left: 3em;
  }

  /***** Profile Banner *****/
  .profile-banner {
    padding: 0;
    margin-bottom: 4em;
  }

  .profile-info {
    width: 57%;
  }

  .image-container {
    width: 39%;
  }

  .profile-image {
    width: 60%;
  }

  /***** Latest Work *****/
  .latest-work--item {
    flex: 0 1 32%;
  }
}
