.profile-banner {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding: $large__spacing $small__spacing;

  .image-container {
    align-self: center;
    width: 75%;

    .profile-image {
      width: 100%;
    }
  }

  .profile-info {
    font-size: $base__font-size;
    text-align: center;
    padding: $base__spacing $small__spacing;
  }
}
