body {
  font-family: $roboto;
  font-weight: 300;
  font-size: $base__font-size;
  line-height: $base__line-height;
  color: $base__font-color;
  background-color: $off-white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading__line-height;
}

h1 {
  font-size: em(34);
  font-weight: 900;
  text-align: center;
}

h2, .subheading {
  font-size: em(24);
  font-weight: 700;
}

.subheading {
  text-transform: uppercase;
  text-align: center;
  padding: $base__spacing;
}

h3 {
  font-size: em(20);
  font-weight: 600;
}

p {
  font-size: $body__font-size;
  font-weight: 300;
  line-height: $base__line-height;
}

a {
  color: $base__font-color;
  text-decoration: none;
}
