@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,700,900,400italic);

/******************

  BASE STYLES
  The following colors were derived from the mock ups provided for this project. I found names for the colors via the following service: http://www.color-blindness.com/color-name-hue/,

******************/

/* Typography */

body,
.site {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

p {
  font-size: 0.875em;
}

a {
  color: rgba(0, 0, 0, 0.87);;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover,
a:active {
  color: rgba(0, 0, 0, 0.54);
  transition: color 0.3s;
}

.subheading {
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
  margin: 2.5em auto 1em auto;
}

/* Icons */
.material-icons {
  vertical-align: middle;
  margin-right: 0.25em;
}



/******************

  COMPONENTS & LAYOUT
  ------------------
    Here positining contexts are set on the primary content wrappers/containers, both for the css property [ position: [value] ] as for lay out purposes.

    The primary containers (direct children of the body element)
    @.site
    @h1.student-name
    @.main-nav
    @.main-content
    @.main-footer

******************/

/***** Primary Content Wrappers *****/

.site,
.site-header,
.main-nav,
.profile-banner,
.main-content,
.portfolio__list,
.contact > span,
.main-footer {
  display: -webkit-flex;
  -webkit-flex-wrap: no-wrap;

  display: -ms-flexbox;

  display: flex;
}

.site,
.site-header,
.main-nav,
.main-content {
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-flex-direction: column;
}

.site {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #FAFAFA;
}

.main-content {
  -webkit-flex: 1;
  -ms-flex: 1;
      flex: 1;
  width: 100%;
  /*margin-bottom: 4em;*/
}

button,
.button {
  display: block;
  font-size: 1em;
  font-weight: 700;
  padding: 0.75em;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.24);
  transition: border-border-color .5s, color 0.5s ease-in;
}

button:hover,
.button:hover {
  color: rgba(0,0,0,0.54);
  border-color: rgba(0,0,0,0.87);
  transition: border-color 0.5s ease-in;
}


/***** Site header *****/
/*.site-header {
  position: absolute;
}*/
.student-name {
  text-align: center;
}

/***** Main navigation *****/
.main-nav {
  width: 100%;
  padding: 1em;
}

.main-nav--item {
  font-size: 1.125em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  padding: 0.625em 0;
  margin-bottom: 0.5em;
}

/***** Profile Banner *****/
.profile-banner {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  width: 100%;
  padding: 2em 1em;
}

.profile-banner > .image-container {
  width: 80%;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.24);
  margin: 1em auto;
}

.profile-image {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.profile-info,
.contact-info {
  font-size: 1.125em;
  line-height: 1.7;
  text-align: center;
}

/***** Latest Work *****/
.latest-work {
  width: 100%;
  background-color: #fff;
}

.portfolio__list {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 1em;
}

.portfolio__item {
  width: 100%;
  margin-bottom: 4em;
}

.portfolio__item > .image-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__image {
  width: 100%;
}

.portfolio__caption {
  padding: 0.625em 0.625em 0 0.625em;
}

.portfolio__caption > .title {
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.portfolio__caption > .description {
  font-size: 1em;
  text-align: center;
}

/***** Contact Section *****/
.contact {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em 3em 1em;
}

.contact > span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;

  font-size: 1.125em;
  color: rgba(0,0,0,0.87);
  text-align: center;
  margin-bottom: 0.875em;
}

.contact > .button {
  margin: 1.75em auto;
}

.contact-link,
.contact-link:link,
.contact-link:visited,
.back-to-top,
.back-to-top:link,
.back-to-top:visited {
  display: inline-block;
  font-weight: 600;
  transition: color 0.4s;
  margin-left: 1.25em;
}

.contact > span:hover .contact-link,
.contact > span:hover .material-icons,
.back-to-top:hover {
  color: rgba(0,0,0,0.54);
  transition: color 0.3s;
}

/***** Main Footer *****/
.main-footer {
  -webkit-justify-content: space-between;
  -webkit-align-items: center;

  -webkit-justify-content: space-between;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  width: calc(100% - 2em);
  max-width: 1024px;
  margin: 0 auto;
  padding: 2em 0;
  border-top: 1px solid rgba(0,0,0,0.24);
}

.main-footer--content {
  width: 100%;

}

.student-name--footer,
.back-to-top {
  font-size: 1em;
}

.student-name--footer {
  margin: 0;
}

.back-to-top {
  text-transform: uppercase;
}

.footer-nav {
  display: none;
}

/******************

  MEDIA QUERIES
  ---
  Break points:
  mobile: 320px
  tablet: 768px
  desktop: 1024px

******************/

/* Tablet */
@media screen and (min-width: 48em) {
  .site-header,
  .profile-banner,
  .main-content > section,
  .main-footer > section {
    padding-left: 2em;
    padding-right: 2em;
  }

  .profile-info {
    margin-top: 0;
  }


  /***** Site Header *****/
  .site-header {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .student-name {
    margin: 0;
  }

  .main-nav {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;

    -webkit-flex-direction: row;

        -ms-flex-direction: row;

            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }

  .main-nav--item {
    background-color: transparent;
    margin-bottom: 0;
  }

  /***** Profile Banner *****/
  .profile-banner {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;

    -webkit-flex-direction: row;

        -ms-flex-direction: row;

            flex-direction: row;
    padding-top: 0;
  }

  .profile-info,
  .profile-banner > .image-container {
    width: 48%;
  }

  .profile-info {
    text-align: left;
  }

  .profile-banner > .image-container {
    margin: 0;
  }

  /***** Latest Work *****/
  .portfolio__list {
    -webkit-flex-direction: row;

    -ms-flex-direction: row;

        flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }

  .portfolio__item {
    -webkit-flex: 0 1 48%;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }

  /***** Main Footer *****/
  .main-footer {
    padding-bottom: 4em;
  }

  .main-footer > .back-to-top {
    display: none;
  }

  .footer-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-nav--item {
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 2em;
  }
}



/* Desktop */
@media screen and (min-width: 64em) {
  .site {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }

  .site-header,
  .profile-banner {
    padding-left: 0;
    padding-right: 0;
  }

  .site-header,
  .profile-banner,
  .main-content > section,
  .main-footer > section {
    width: 1024px;
    margin: 0 auto;
  }

  /***** Site Header *****/
  .site-header {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;

    -webkit-flex-direction: row;

        -ms-flex-direction: row;

            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    padding-top: 2em;
    margin-bottom: 2.5em;
  }

  .student-name,
  .main-nav--item {
    line-height: 1;
  }

  .main-nav {
    -webkit-flex: 1;
    -webkit-justify-content: space-between;

    -webkit-flex: 1;

        -ms-flex: 1;

            flex: 1;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    padding: 0;
  }

  .main-nav--item {
    padding: 0;
    margin-bottom: 0;
    margin-left: 3em;
  }

  /***** Profile Banner *****/
  .profile-banner {
    padding: 0;
    margin-bottom: 4em;
  }

  .profile-info {
    width: 57%;
  }

  .profile-banner > .image-container {
    width: 39%;
  }

  .profile-image {
    width: 60%;
  }

  /***** Latest Work *****/
  .portfolio__item {
    -webkit-flex: 0 1 32%;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
  }
}
