/******************

  BASE STYLES
  The following colors were derived from the mock ups provided for this project. I found names for the colors via the following service: http://www.color-blindness.com/color-name-hue/,

  Colors used:
  $white: rgb(250,250,250) || #FAFAFA;
  $white-lilac: rgb(223,222,224) || #DFDEE0;
  $viking: rgb(61,172,206) || #3DACCE;
  $tulip-tree: rgb(223,170,55) || #DFAA37;
  $lochmara: rgb(41,115,168) || #2973A8;
  $puerto-rico: rgb(69,173,164) || #45ada4;
  $corn-flower-blue: rgb(84,70,114) || #544672;
  $fiord: rgb(79,91,106) || #4f5b6a;

  Typographic colors (following Material Design Spec):
  $base__font: rgba(0,0,0,0.87);
  $base__secondary: rgba(0,0,0,0.54);
  $base__disabled: rgba(0,0,0,0.24);
******************/

/* Universial Styles */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Typography */

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

p {
  font-size: 0.875em;
}

a {
  color: #2973A8;
  text-decoration: none;
  transition: color 0.4s;
}

a:link,
a:visited { color: #45ada4; }

a:hover,
a:active {
  color: #3DACCE;
  transition: color 0.3s;
}

.subheading {
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
  margin: 2.5em auto;
}


/* Buttons */

/* Lists */

ul {
  margin: 0;
  padding-left: 0;
}

ul, li {
  list-style: none;
}

/* Figures */
figure {
  margin: 0;
}

/* Utilities */


/******************

  COMPONENTS & LAYOUT
  ------------------
    Here positining contexts are set on the primary content wrappers/containers, both for the css property [ position: [value] ] as for lay out purposes.

    The primary containers (direct children of the body element)
    @.site
    @h1.student-name
    @.main-nav
    @.main-content
    @.main-footer

******************/

/***** Primary Content Wrappers *****/

.site,
.site-header,
.main-nav,
.profile-banner,
.main-content,
.main-footer {
  display: -webkit-flex;
  -webkit-flex-wrap: no-wrap;

  display: flex;
}

.site,
.site-header,
.main-nav,
.main-content {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.site {
  width: 100%;
  min-height: 100vh;
  background-color: #FAFAFA;
}

.main-content {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  /*padding: 0 1em;*/
}


/***** Page header *****/
.student-name {
  text-align: center;
}

/***** Main navigation *****/
.main-nav {
  width: 100%;
  padding: 1em;
}

.main-nav--item {
  font-size: 1.125em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  padding: 0.625em 0;
  margin-bottom: 0.5em;
}

.main-nav--item,
.main-nav--item:visited {
  color: rgba(0,0,0,0.87);
  transition: color 0.4s;
}

.main-nav--item:hover {
  color: rgba(0,0,0,0.54);
  transition: color 0.3;
}

/***** Profile Banner *****/
.profile-banner {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 100%;
  padding: 2em 1em;
}

.image-container {
  width: 100%;
  padding: 1em 0;
}

.profile-image {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.profile-info {
  font-size: 1.125em;
  line-height: 1.7;
  text-align: center;
}

/***** Latest Work *****/
.latest-work {
  width: 100%;
  background-color: #fff;
}

.latest-work--list {
  display: -webkit-flex;
  -webkit-flex-direction: column;

  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

/*.latest-work--item {
  padding: 0 1em;
}*/

.portfolio-item {
  width: 100%;
  margin-bottom: 4em;
}

.portfolio-image {
  width: 100%;
}

.portfolio-caption {
  padding: 0.625em 0.625em 0 0.625em;
}

.portfolio-caption > .title {
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.portfolio-caption > .description {
  font-size: 1em;
  text-align: center;
}

/***** Contact Section *****/
.contact {
  position: relative;
  width: 100%;
  padding: 0 1em;
}

.contact-links--wrapper {
  padding-bottom:  3em;
  border-bottom: 1px solid rgba(0,0,0,0.24);
}

.contact-links--wrapper > span {
  display: block;
  width: 100%;
  font-size: 1.125em;
  text-align: center;
  margin-bottom: 0.875em;
}

.contact-link,
.contact-link:link,
.contact-link:visited,
.back-to-top,
.back-to-top:link,
.back-to-top:visited {
  font-weight: 600;
  color: rgba(0,0,0,0.87);
  transition: color 0.4s;
}

.contact-link:hover,
.back-to-top:hover {
  color: rgba(0,0,0,0.54);
  transition: color 0.3s;
}

/***** Main Footer *****/
.main-footer {
  -webkit-justify-content: space-between;
  -webkit-align-items: center;

  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
}

.student-name--footer,
.back-to-top {
  font-size: 1em;
}

.student-name--footer {
  margin: 0;
}

.back-to-top {
  text-transform: uppercase;
}

.footer-nav {
  display: none;
}



/******************

  MEDIA QUERIES

******************/

/* Tablet */
@media screen and (min-width: 48em) {
  .site-header {
    padding-top: 2.5em;
  }

  .student-name {
    margin: 0;
  }

  .main-nav {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;

    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }

  .main-nav--item {
    background-color: transparent;
  }
}



/* Desktop */
@media screen and (min-width: 64em) {
  .site {
    align-items: center;
  }

  .site-header,
  .profile-banner,
  .main-content > section,
  .main-footer > section {
    width: 1024px;
    margin: 0 auto;
  }

  .site-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

  .student-name,
  .main-nav--item {
    line-height: 1;
  }

  .student-name {
    padding: 1em;
  }

  .main-nav {
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  .main-nav--item {
    padding: 0;
    margin-bottom: 0;
    margin-left: 3em;
  }
}
